<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- If you delete this meta tag, Half Life 3 will never be released. -->
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Please verify your email address</title>

	<link rel="stylesheet" href="{{ asset('css/email.css') }}" />
</head>
 
<body bgcolor="#FFFFFF">

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">
			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi, <strong>{{ registerlog.name }}</strong></h3>
						<br/><br/>
						<p>Please verify your email address so we know that it's really you!</p>
						<!-- Callout Panel -->
						<p class="callout">
							 <a href="{{ url('ums_confirm_account', { 'hash': registerlog.verifylink }) }}">Verify yor email &raquo;</a>
						</p><!-- /Callout Panel -->					
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												<h5 class="">Connect with Us:</h5>
												<p class=""><a href="#" class="soc-btn fb">Facebook</a> <a href="#" class="soc-btn tw">Twitter</a> <a href="#" class="soc-btn gp">Google+</a></p>
											</td>
										</tr>
									</table><!-- /column 1 -->	
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
												<h5 class="">Cheers:</h5>												
												<p>UMS Click delivery Team</p>
											</td>
										</tr>
									</table><!-- /column 2 -->
									<span class="clear"></span>	
								</td>
							</tr>
						</table><!-- /social & contact -->
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->
</body>
</html>