{% extends 'base.html.twig' %}

{% block headtitle %}Parameters Edit{% endblock %}
{% block body %}
    <ul>
        <li>
            <a	class="btn btn-primary" href="{{ path('parameter_index') }}">Back to the list</a>
        </li>
    </ul>
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br/>
        <input class="btn btn-info btn-lg" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% endblock %}
